<div class="price-calculator-div">
  <h1>Price Calculator</h1>

<button (click)="addStudentToList()">add student</button>
<button (click)="deleteStudentFromList()">delete student</button>
  <div class="price-calculator-width">
    <div class="row">
      <div class="col-md-5">
        <label>Product</label>
      </div>
      <div class="col-md-7">
        <select name="cars" #selectedProductId (click)="(selectProduct(selectedProductId.value))">
          <option *ngFor="let product of products" value="{{product.productId}}">{{product.productName}}</option>
        </select>
      </div>

      <div class="col-md-5">
        <label>Selection Type</label>
      </div>
      <div class="col-md-7">
        <input type="radio" id="carton" name="orderType" (click)="selectType('CARTON')">&nbsp;
        <label for="carton">Carton</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="units" name="orderType" (click)="selectType('UNIT')">&nbsp;
        <label for="units">Units</label>
      </div>

      <div class="col-md-5">
        <label>Quantity</label>
      </div>
      <div class="col-md-7">
        <input type="number" #quantity (change)="quantityChange(quantity.value)">

      </div>
      <br>
      <br>
      <div class="col-md-5"></div>
      <div class="col-md-7">
        <button type="button" class="btn btn-primary" (click)="calculatePrice()">calculate</button>
        <br>
        <br>
        <label *ngIf="calculatedPrice">Price : {{calculatedPrice}}</label>
      </div>

    </div>


  </div>
</div>
