<div class="price-table-div">
  <h1>Price Table</h1>

  <div>
    <label class="price-table-padding-right">Product</label>
    <select name="cars" #selectedProductId (click)="(selectProduct(selectedProductId.value))">
      <option *ngFor="let product of products" value="{{product.productId}}">{{product.productName}}</option>
    </select>

    <label class="price-table-padding-right"> no. of units</label>
    <input type="number" #maxValue (change)="maxValueSelection(maxValue.value)">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary "
            (click)="findPriceList()">show price list
    </button>
  </div>
  <div>
    <span *ngFor="let student of students">
      <li>
      {{student.name}}
    </li>
    </span>
  </div>
  <div class="col-md-6">
    <table class="table table-hover table-dark" *ngIf="productPriceList">
      <thead>
      <tr>
        <th scope="col">quantity</th>
        <th scope="col">price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of productPriceList">
        <th scope="row">{{product.quantity}}</th>
        <td>{{product.price}}</td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
